<!DOCTYPE html>
<html lang="zh_CN" style="background: #fff">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Expires" content="0"/>
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="../../resource/css/style.css">
</head>
<body>
<div class="container">
	<div class="sh-img"><img src="../../resource/images/bg_img.png"></div>
</div>
</body>
<script type="text/javascript">
</script>
</html>